<div class='three columns'>
<h2> <%= @user.name.titleize %> Info </h2>
<ul>
  <li>email: <%= @user.email %></li>
  <li>password: <%= @user.password %></li>
</ul>
<%= link_to 'Home', users_path %>
</div>
<div class='three columns end'>
<h2>List of Tickets</h2>
<ol class='tickets'>
  <% @tickets.each do |ticket| %>
    <li> <%= ticket.description  %> </li>
  <% end %>
</ol>
<%= link_to 'New Ticket', new_user_ticket_path(@user) %>
<br />
<a href="#" class='toggle'>Toggle Tickets</a>
</div>
